.comments .comment {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.comments {
    max-width: 50%;
}

.comment :not(br) {
    margin: 0 0 0.2em 0;
}

.comments ul {
    padding-left: 0;
    list-style: none;
}

.reply-button {
    background: none;
    border: none;
}