body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    border: 1px solid;
    border-radius: 2px;
    padding: 0 0.2em;
}

fieldset {
    max-width: max-content;
}

pre {
    background: whitesmoke;
    border: 1px solid #ddd; /* that's the name you should know! */
    border-radius: 2px;
    padding: 5px;
}

pre code {
    padding: unset;
    border: unset;
}

label {
    display: block;
    margin-bottom: 5px;
}

.topbar {
    padding: 2px 5px;
    border-bottom: 2px solid gray;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
    font-size: smaller;
}

.topbar a {
    color: black;
}

.greeting {
    float: right;
}

.markdown :not(br) {
    margin: 0.3em 0;
}

.main-content {
    margin: 8px;
}

.post-title {
    margin: 3px 0 0 0;
}

.post-author, .comment-author {
    color: #888888;
}

.post-author code {
    border: none;
}

.post-content {
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    max-width: 50%;
}

.post-content p {
    margin: 0;
}

.comments .comment {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.comments {
    max-width: 50%;
}

.comment :not(br) {
    margin: 0 0 0.2em 0;
}

.comments ul {
    padding-left: 0;
    list-style: none;
}

.post {
    margin-top: 0.5em;
}

.post .comment {
    margin: 0.25em 0 0 0.5em;
}
