body {
    font-family: sans-serif;
}

.post-title {
    margin: 3px 0 0 0;
}

.post-content {
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    max-width: 60em;
}

.post-content p {
    margin: 0 auto; /* shh */
}