body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

fieldset {
    max-width: max-content;
}

.topbar {
    padding: 2px 5px;
    border-bottom: 2px solid gray;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
}

.topbar a {
    color: black;
}

.greeting {
    float: right;
}

.main-content {
    margin: 8px;
}

.post-title {
    margin: 3px 0 0 0;
}

.post-author, .comment-author {
    color: #888888;
}

.post-content {
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px 10px;
    max-width: 58.5em;
}

.post-content p {
    margin: 0 auto; /* shh */
}

.comment {
    border: 1px solid dimgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 4px 0;
}

.comment p {
    margin: 0;
}

.comments {
    max-width: 60em;
}

.comments ul {
    padding-left: 0;
    list-style: none;
}