{% extends "blank.html" %}
{% block title %}{{ post["title"] }}{% endblock %}
{% block body %}
    <h1 class="post-title">{{ post["title"] }}</h1>
    {% if post["content"] %}
        <div class="post-content">
            {{ md(post["content"])|safe }}
        </div>
    {% endif %}
    <div class="comments">
        <ul>
            {% for item in comments recursive %}
                <li class="comment">
                    {{ md(item.content)|safe }}
                    {% if children_of(item["id"]) %}
                        <ul class="child-comments">
                            {{ loop(children_of(item["id"])) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}