{% extends "blank.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h1 class="post-title">{{ title }}</h1>
    {% if content %}
        <div class="post-content">
            {{ md(content)|safe }}
        </div>
    {% endif %}
    <div class="comments">
        <ul>
            {% for item in comments recursive %}
                <li class="comment">
                    {{ md(item.content)|safe }}
                    {% if children_of(item) %}
                        <ul class="child-comments">
                            {{ loop(children_of(item)) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}