{% extends "blank.html" %}
{% block title %}overview for {{ username }}{% endblock %}
{% block body %}
    this is the userpage for {{ username }}<br>
    {{ username }} has made {{ posts }} post(s) and {{ comments }} comment(s)
    {% for item in content %}
        <div class="userpage-item">
            {% if item["type"] == "post" %}
                {{ post_display(item) }}
            {% else %}
                <small class="comment-author">
                    {{ user(username) }} commented on
                    <a href="{{ url_for("post.main_view", post_id=item["post"]) }}">{{ item["post_title"] }}</a><br>
                </small>
                {{ item["content"] }}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}