<div class="comments">
    <ul id="all-comments">
        {% for item in comments recursive %}
            <li class="comment" id="{{ item["id"] }}">
                <small class="authorship comment-author">
                    {{ user(item["author"]) }} at {{ correct_date(item["timestamp"]) }}
                </small>
                <div class="markdown">
                    {{ md(item["content"])|safe }}
                </div>
                <small>
                    <button class="reply-button" onclick="showReplyForm(event, '{{ item.id }}')">reply</button>
                    <br>
                </small>
                {% if children_of(item) %}
                    <ul class="child-comments">
                        {{ loop(children_of(item)) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>