<div class="comments">
    <ul id="all-comments">
        {% for item in comments recursive %}
            <li class="comment">
                <small class="comment-author">
                    {{ user(item["author"]) }} at {{ correct_date(item["timestamp"]) }}
                </small>
                <div class="markdown">
                    {{ md(item["content"])|safe }}
                </div>
                {% if item["children"] %}
                    <ul class="child-comments">
                        {{ loop(children_of(item)) }}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>