{% extends "blank.html" %}
{% block title %}{{ post["title"] }}{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        function createReplyForm(comment) {
            const form = document.createElement("form");
            form.method = "post";
            form.action = "{{ url_for("api.add_comment") }}";
            form.onsubmit = () => sendComment(event, form, comment);
            const fieldset = document.createElement("fieldset");
            const legend = document.createElement("legend");
            legend.innerText = "reply";
            fieldset.appendChild(legend);
            const label = document.createElement("label");
            const textarea = document.createElement("textarea");
            textarea.name = "content";
            textarea.cols = 50;
            textarea.rows = 5;
            label.appendChild(textarea);
            fieldset.appendChild(label);
            const submit = document.createElement("input");
            submit.type = "submit";
            submit.value = "save";
            fieldset.appendChild(submit);
            form.appendChild(fieldset);
            return form;
        }

        function showReplyForm(button, comment) {
            if (!button.classList.contains("expanded")) {
                const c = document.getElementById(comment);
                c.insertBefore(createReplyForm(comment), c.lastElementChild);
                button.classList.add("expanded");
            }
        }

        // called by form submit
        function sendComment(event, form, parent = "{{ post['id'] }}", hideform = true) {
            event.preventDefault();
            let data = {};
            let fdata = new FormData(form);
            for (let tuple of fdata.entries()) {
                data[tuple[0]] = tuple[1];
            }
            data["parent"] = parent;
            const xhr = new XMLHttpRequest();
            xhr.open(form.method, form.action, true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
            xhr.send(JSON.stringify(data));
            xhr.onloadend = function () {
                form.reset();
                if (hideform) {
                    form.remove();
                }
                displayNewComment(JSON.parse(xhr.response), parent);
            };
        }

        function displayNewComment(contents, parent) {
            let commentsList = document.getElementById("children-of-" + parent);
            const newComment = document.createElement("li");
            newComment.classList.add("comment");
            const authorTag = document.createElement("small");
            authorTag.classList.add("authorship", "comment-author");
            // oh god so bad
            authorTag.innerHTML = '{{ user(current_user.id) }} at ' + unix_to_pretty(Date.now() / 1000);
            newComment.appendChild(authorTag);
            const cont = document.createElement("div");
            cont.classList.add("markdown");
            cont.innerHTML = contents["rendered"];
            newComment.appendChild(cont);
            commentsList.insertBefore(newComment, commentsList.firstChild);
        }
    </script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comment_section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}
{% block body %}
    <h2 class="post-title">{{ post["title"] }}</h2>
    {{ post_authorline(post) }}
    {% if post["content"] %}
        <div class="post-content">
            {{ md(post["content"])|safe }}
        </div>
    {% endif %}
    <form method="post" action="{{ url_for("api.add_comment") }}"
          onsubmit="sendComment(event, this, {{ post['id'] }}, false)">
        <fieldset>
            <legend>add a comment</legend>
            {% if current_user.is_authenticated %}
                <label>
                    <textarea name="content" cols="50" rows="5" placeholder="..."></textarea>
                </label>
                <input type="submit" value="save">
            {% else %}
                <label>
                    <textarea name="content" cols="50" rows="5"
                              readonly>sorry, you must be logged in to comment</textarea>
                </label>
            {% endif %}
        </fieldset>
    </form>
    {% include "post/comment_section.html" %}
{% endblock %}
