{% extends "blank.html" %}
{% block title %}{{ post["title"] }}{% endblock %}
{% block body %}
    <h2 class="post-title">{{ post["title"] }}</h2>
    <small class="post-author">
        posted by {{ post["author"] }} at <span class="date-unformatted">{{ nix_time(post["timestamp"]) }}</span>
    </small>
    {% if post["content"] %}
        <div class="post-content">
            {{ md(post["content"])|safe }}
        </div>
    {% endif %}
    <div class="comments">
        <ul>
            {% for item in comments recursive %}
                <li class="comment">
                    {{ md(item.content)|safe }}
                    {% if children_of(item["id"]) %}
                        <ul class="child-comments">
                            {{ loop(children_of(item["id"])) }}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
